<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231198188267-7pilqpoflhmphv1hpmcsuuvoil062chc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231198188267-7pilqpoflhmphv1hpmcsuuvoil062chc</string>
	<key>API_KEY</key>
	<string>AIzaSyBODpp9fIU-uwuElxCuZL231_4graexgQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>231198188267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aivanov.Nasee</string>
	<key>PROJECT_ID</key>
	<string>nasee-30a09</string>
	<key>STORAGE_BUCKET</key>
	<string>nasee-30a09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231198188267:ios:733f4923cba2e23cbd14ae</string>
</dict>
</plist>